*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color:rgba(255, 255, 0, 0.306) !important;
}
body{
    background-color:rgba(255, 255, 0, 0.306) !important; ;
}
.carousel-caption {
    position: absolute !important;
    top: 60% !important;
    transform: translateY(-50%) !important;
    text-align: center !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  #book{
    background-color: #c9f409;
    padding: 10px;
    border: 2px solid gold;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.carousel-caption h1{
color: gold;
}
.btn{
    background-color: gold !important;
    border: 1px solid yellow !important;
    color: black !important;
}
.row{
    display: grid;
    grid-gap: 10px;
}
.cardsection{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.taxi{
    color: white;
   
}
.choosetaxi{
    margin-top: 200px;
}
.taxi h4{
letter-spacing: 2px;
background: linear-gradient(to right, rgb(255, 0, 0),rgb(205, 250, 6));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h4 span{
    color:yellow;
    font-size: 35px;
    font-weight: bold;
}
.taxi h1{
color: gold;
background: linear-gradient(to right, rgb(255, 0, 0),rgb(83, 6, 250));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.taxi h6{
     color: gold; 
     background: linear-gradient(to right, rgb(255, 0, 0),rgb(83, 6, 250));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

#cabs
{
    display: flex;
    justify-content: center;
}
article{
    display: flex;
}
.pakages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}
article{
    height: 299px;
    width: 70%;
    background-color: rgba(250, 235, 215, 0.448);
    margin: 20px;
    border: 1px solid gray;
    box-shadow: 3px 3px 4px rgb(187, 11, 11),-3px -3px -4px gray;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    box-shadow: 4px 4px 5px gray;
}
article img{
    border-radius: 20px 20px 20px 20px;
}
  .pakages article:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  .pakages div{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .ootty img{
    margin-left: 30px;
    
  }
  .munnar img{
    margin-left: 150px;
  }
  article p{
    padding-left: 30px;
  }
  .ootty{
    box-shadow: 0px 4px 4px 4px gray;
  }
  .munnar{
    box-shadow: 0px 4px 4px 4px gray;
    
  }
  .card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  #cabs .card{
    margin: 20px;
  }
  .btn-primary{
    background: linear-gradient(to right, rgb(234, 255, 0),gold);
    border: 2px solid red !important;

  }
 
footer{
    background-color: rgba(119, 136, 153, 0.737);
    text-align: center;
    color:gold;
    background-image: url(images/bg2.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

   
}
footer .row{
    display:flex ;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.copy{
    margin-top: 50px;
}
#Contact{
    margin-top: 20px;
}

.navbar-nav a{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right,blue,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar-nav a:focus{
    color: blue !important;
}
.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
   color: rgb(255, 0, 0) !important;
   font-size: 2em !important;
}
#Now h1{
  color: red !important;
}


.animation {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 0.7s ease-out;
  transition-delay: 0.2s;

}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}